        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');


        .main_conteiner {
            max-width: 1920px;
            width: 100%;
            margin: 0 auto;
        }

        .fa-xl {
            display: none;
        }

        /* header start */

        header {
            max-width: inherit;
            width: inherit;
            height: 96px;
            display: flex;
            justify-content: space-around;
            background-color: #D5906E85;
            position: fixed;
            z-index: 1;
            align-items: center;

        }



        .signin {
            align-items: center;
            text-align: center;
        }

        ul {
            display: flex;
            gap: 25px;
        }

        .logoimg {
            box-shadow: none;
            transition: all;
            transition-duration: .5s;
        }

        .logoimg:hover {
            filter: drop-shadow(10px 10px 5px rgb(0, 0, 0))
        }



        .no_active {

            font-family: Inter;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            color: aliceblue;
            transition: all;
            transition-duration: 0.2s;
        }

        .active {
            font-family: Inter;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            color: #D5906E;
            transition: all;
            transition-duration: 0.2s;
        }

        .no_active:hover {
            cursor: pointer;
            color: rgb(0, 0, 0);
        }

        .active:hover {
            cursor: pointer;
            color: rgb(0, 0, 0);

        }

        .sign {
            font-family: Inter;
            font-size: 1rem;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            color: white;
            transition: all;
            transition: .5s
        }

        .sign:hover {
            cursor: pointer;
            color: black;
        }

        /* section start */

        .back {
            width: 100%;
            height: 620px;
            background-image: url("../img/Rectangle\ 106.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }




        h2 {
            font-family: Inter;
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 48px;
            text-align: center;
            color: aliceblue;

        }

        .title {
            width: 36%;
            position: absolute;
            top: 60%;
            left: 55%;
            transform: translate(-60%, -55%);
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;


        }

        .title_text {
            padding-top: 16px;
        }

        .title_textp {
            width: 100%;
            font-size: 1rem;
        }

        .shop {
            width: 55%;
            height: 56px;
            border: 2px solid #D5906E;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 72px;

        }

        .shoptext {
            color: white;
            font-size: 1rem;
        }

        .shop:hover {
            background: #D5906E;
        }

        /* section2 start */

        .section2 {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .figure1 {
            width: 80%;
            height: 206px;
            display: flex;
            margin: 160px;
          
        }

        .fig1 {
            width: 90%;
            height: 100%;
            display: flex;
            justify-content: space-around;
        }

        .fig2 {
            width: 90%;
            height: 100%;
            display: flex;
            justify-content: space-around;
        }
 
        figure {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            transition: all;
            transition-duration: 0.5s;
        }
        

        figcaption {
            width: 100%;
            color: #B53B1B;
            font-size: 1.125rem;
            text-align: center;
        }

        figure:hover {
            transform: scale(1.3);
            -webkit-transform: scale(1.3);
            -moz-transform: scale(1.3);
        }

        /* section3 start */

        .section3 {
            width: 100%;
            display: flex;
            background-color: #402101;
            align-items: center;
            flex-direction: column;
        }

        .gallery {
            color: #ffff;
            font-family: Inter;
            font-size: 40px;
            font-weight: 700;
            line-height: 48px;
            letter-spacing: 0em;
            text-align: center;
            margin-top: 96px;
            margin-bottom: 40px;

        }

        .gallerygrid {
            width: 75%;
            display: grid;
            margin-bottom: 100px;
            grid-template-columns: 5.25fr 1fr 5.25fr 1fr 7.3fr;
            grid-template-rows: 5.3fr 1fr 4.3fr;
            grid-template-areas:
                "gridimg1 gridimg1 gridimg1 . gridimg2"
                ". . . . ."
                "gridimg3 . gridimg4  . gridimg5";

        }

        .gridimg1 {
            grid-area: gridimg1;
            width: 100%;
            transition: all;
            transition-duration: 0.3s;
        }

        .gridimg2 {
            grid-area: gridimg2;
            width: 100%;
            transition: all;
            transition-duration: 0.3s;
        }

        .gridimg3 {
            grid-area: gridimg3;
            width: 100%;
            transition: all;
            transition-duration: 0.3s;
        }

        .gridimg4 {
            grid-area: gridimg4;
            width: 100%;
            transition: all;
            transition-duration: 0.3s;
        }

        .gridimg5 {
            grid-area: gridimg5;
            width: 100%;
            transition: all;
            transition-duration: 0.3s;
        }

        .gridimg1:hover {
            box-shadow: -2px 0px 58px 13px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -2px 0px 58px 13px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -2px 0px 58px 13px rgba(0, 0, 0, 0.75);
            transform: scale(1.1);
        }

        .gridimg2:hover {
            box-shadow: -2px 0px 58px 13px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -2px 0px 58px 13px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -2px 0px 58px 13px rgba(0, 0, 0, 0.75);
            transform: scale(1.1);
        }

        .gridimg3:hover {
            box-shadow: -2px 0px 58px 13px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -2px 0px 58px 13px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -2px 0px 58px 13px rgba(0, 0, 0, 0.75);
            transform: scale(1.1);
        }

        .gridimg4:hover {
            box-shadow: -2px 0px 58px 13px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -2px 0px 58px 13px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -2px 0px 58px 13px rgba(0, 0, 0, 0.75);
            transform: scale(1.1);
        }

        .gridimg5:hover {
            box-shadow: -2px 0px 58px 13px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -2px 0px 58px 13px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -2px 0px 58px 13px rgba(0, 0, 0, 0.75);
            transform: scale(1.1);
        }

        /* section4 start */

        .section4 {
            width: 90%;
            height: 100%;
             margin: 0 auto;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

        }

        .products {

            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        .prewlogo {
            align-items: center;
        }

        .productcards {
            width: 92%;
            height: 100%;
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
        }



        .products1 {
            width: 35%;
            display: flex;
            gap: 10px;
            position: relative;
            justify-content: center;

        }

        .products2 {
            width: 35%;
            display: flex;
            gap: 10px;
            position: relative;
            justify-content: center;

        }

        .product_text {
            color: #402101;
            font-family: Inter;
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 48px;
            letter-spacing: 0em;
            text-align: center;
            margin-top: 160px;
            margin-bottom: 40px;


        }

        .proimg1 {
            width: 100%;
            transition: all;
            transition-duration: 0.3s;}

        .proimg {
            width: 100%;
            transition: all;
            transition-duration: 0.3s;

        }

        .proimg:hover {
            box-shadow: -2px 5px 64px 15px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -2px 5px 64px 15px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -2px 5px 64px 15px rgba(0, 0, 0, 0.75);
        }
        .proimg1:hover {
            box-shadow: -2px 5px 64px 15px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -2px 5px 64px 15px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -2px 5px 64px 15px rgba(0, 0, 0, 0.75);
        }

        .price {
            width: 20%;
            height: 30px;
            position: absolute;
            top: 75%;
            left: 5%;
            transform: translate(-75% -5%);
            background-color: white;
            border-radius: 20px;
            color: black;
            font-size: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .nextlogo {
            align-items: center;
        }

        /* section sub start */

        .subscribe_section {
            width: 100%;
            height: 480px;
            margin-top: 160px;
            background-image: url("../img/subsc.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            align-items: center;
        }

        .subtitle {
            font-family: Inter;
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 48px;
            color: #FFFFFF;
            text-align: center;
            margin-top: 110px;

        }

        .butsub {

            width: 151px;
            height: 56px;
            border: solid 1px white;
            background: #FFFFFF;
            border-radius: 0px 10px 10px 0px;
        }

        .mail {
            background-color: transparent;
            width: 250px;
            height: 56px;
            border: solid 1px white;
            border-radius: 10px 0px 0px 10px;
        }

        .formsub {
            display: flex;
            justify-content: center;

        }

        .subsc {
            width: 100%;
            padding-top: 100px;
        }

        /* section title start */

        h3 {
            font-family: Inter;
            font-size: 40px;
            font-weight: 700;
            line-height: 48px;
            text-align: center;
            color: #402101;
            margin-top: 130px;
        }

        .conteiner_text {
            width: 90%;
            margin: 0 auto;
            padding-top: 40px;
            display: flex;
            justify-content: space-between;
        }

        .texture {
            width: 30%;
            background-color: #D5906E4D;
        }

        .texturep2 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            color: #402101;
        }

        .texture_p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 29px;
            color: #B53B1B
        }

        .pb {
            width: 100%;
            padding-top: 112px;
            padding-bottom: 160px;
            text-align: center;
        }

        .answers {
            font-family: Inter;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 29px;
            text-align: center;
            color: #402101;
            padding-bottom: 34px;

        }

        .answerbut {
            width: 309px;
            height: 56px;
            border-radius: 10px;
            color: white;
            background-color: #B53B1B;
            align-items: center;
            font-family: Inter;
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 29px;
            transition: all;
            transition-duration: 02.s;

        }

        .answerbut:hover {
            box-shadow: 1px 2px 43px 10px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 1px 2px 43px 10px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 1px 2px 43px 10px rgba(0, 0, 0, 0.75);

        }

        /* footer start */

        footer {
            width: 100%;
            height: 240px;
            background-color: #402101;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .divfoot1 {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .p1 {
            font-family: Inter;
            font-size: 1.125rem;
            font-weight: 400;
            line-height: 22px;
            color: #FFFFFF;

        }

        .iconfoot {
            display: flex;
            gap: 15px;
            padding-top: 25px;
        }

        .fa-youtube {
            color: red;
        }

        .fa-instagram {
            color: magenta;
        }

        .fa-facebook {
            color: deepskyblue;
        }

        .icona {
            transition: all;
            transition-duration: 0.3s;
        }

        .icona:hover {
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);

        }

        .p1 {
            transition: all;
            transition-duration: 0.2s;
        }

        .p1:hover {
            transform: scale(1.1) skew(8deg);
            -webkit-transform: scale(1.1) skew(8deg);
            -moz-transform: scale(1.1) skew(8deg);
        }

        .footp {
            font-family: Inter;
            font-size: 2.25rem;
            font-weight: 700;
            line-height: 44px;
            color: #FFFFFF;

        }

        .footspan {
            font-family: Inter;
            font-size: 2.25rem;
            font-weight: 400;
            line-height: 44px;
            color: #D5906E
        }

        .footlogo {
            transition: all;
            transition-duration: 0.6s;
        }

        .footlogo:hover {
            transform: scale(1.4);
            -webkit-transform: scale(1.4);
            -moz-transform: scale(1.4);
            text-shadow: 12px 7px 7px rgba(0, 0, 0, 1);
        }

        .footcn {
            display: flex;
            gap: 8px;

        }

        .footcontact {
            display: flex;
            flex-direction: column;
            gap: 15px;

        }

        .infop {
            font-family: Rubik;
            font-size: 1rem;
            font-weight: 300;
            line-height: 19px;
            color: #FFFFFF;

        }

        .infop:hover {
            transform: scale(1.1) skew(8deg);
            -webkit-transform: scale(1.1) skew(8deg);
            -moz-transform: scale(1.1) skew(8deg);
        }

        .fa-solid {
            color: azure;
        }


        /* artwork start */

        .conteiner2 {
            max-width: 1920px;
            width: 100%;
           
        }

        .artwork {
            width: 100%;
            height: 620px;
            background-image: url("../img/Rectangle\ 107.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            align-items: center;
            position: relative;
        }

        .artworktext {
            width: 50%;
            position: absolute;
            top: 50%;
            left: 55%;
            transform: translate(-50%, -55%);
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .shopbut {
            width: 45%;
            height: 56px;
            border: 1px solid #D5906E;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 72px;
        }

        .shoptext {
            color: white;
            font-size: 1rem;

        }

        .shopbut:hover {
            background: #D5906E;
        }

        /* section search start */

        .search {
            width: 100%;
            display: flex;
            justify-content: center;
        }


        .searchbut {
            width: 75%;
            margin-top: 160px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .searchbutdiv {
            width: 65%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .searchbutdiv1 {
            width: 30%;
            display: flex;
            gap: 18px;
        }

        .searchp {
            color: #402101;
            font-size: 1.125rem;
            font-weight: 400;
            line-height: 1.5rem;

        }



        .search {
            width: 100%;
            display: flex;
        }

        .search_input {
            width: 64%;
            height: 56px;
            background-color: transparent;
            border: 1px solid #402101;
            border-radius: 10px 0 0 10px;

        }

        .search_submit {
            width: 36%;
            height: 56px;
            border-radius: 0 10px 10px 0;
            background-color: #402101;
            border: #402101;
            color: white;
            cursor: pointer;
            font-weight: 400;
            font-size: 1.125rem;
            line-height: 22px;

        }

        /* cards category start */
        .cards_category {
            width: 100%;
        }

        .icons {
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            margin-bottom: 40px;
        }

        .pc {
            color: #402101;
            font-family: Inter;
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 48px;


        }

        .cards_1 {
            width: 90%;
            display: flex;
            justify-content: space-between;
            padding-top: 70px;
            padding-bottom: 50px;
            margin: 0 auto;

        }

        .price_cost {
            margin-top: 10px;
        }

        .cards_2 {
            width: 90%;
            display: flex;
            justify-content: space-between;


            margin: 0 auto;

        }

        .card_img {
            width: 90%;
            margin-bottom: 10px;
            transition: all;
            transition-duration: 0.2s;
        }

        .card_img:hover {
            box-shadow: -2px 5px 64px 15px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -2px 5px 64px 15px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -2px 5px 64px 15px rgba(0, 0, 0, 0.75);

        }

        .card {
            width: 21%;
            display: flex;
            flex-direction: column;
        }

        .card_price {
            width: 90%;
            height: 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }

        .price_icon {
            width: 8%;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;


        }

        .pagesicon {
            display: flex;
            justify-content: center;
            margin-top: 100px;
            transition: all;
            transition-duration: 0.2s;
            cursor: pointer;
            margin-bottom: 100px;
        }

        .pages:hover {
            box-shadow: -2px 5px 64px 15px rgba(243, 5, 5, 0.75);
            -webkit-box-shadow: -2px 5px 64px 15px rgba(160, 8, 8, 0.75);
            -moz-box-shadow: -2px 5px 64px 15px rgba(155, 12, 12, 0.75);
        }

        /* contact start */

        .conteiner3 {
            max-width: 1920px;
            width: 100%;
            margin: 0 auto;
        }

        .contact {
            width: 100%;
            height: 620px;
            background-image: url("../img/Rectangle\ 108.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }

        h4 {
            font-family: Inter;
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 48px;
            color: #FFFFFF;
            text-align: left;

        }

        .loginconteiner {
            width: 90%;
            margin: 0 auto;
            align-items: left;
            display: flex;
            flex-direction: column;
            gap: 20px;

        }

        .login {
            position: absolute;
            width: 400px;
            height: 400px;
            left: 360px;
            top: 208px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            background: rgba(64, 33, 1, 0.73);
            border: 1px solid #FFFFFF;
            box-shadow: -1px -1px 4px #FFFFFF;
            border-radius: 10px;
        }

        .forminfo {
            height: 40px;
            width: 140px;
            background-color: transparent;
            border-radius: 10px;
            border: 2px solid white;
            border-radius: 10px;

        }

        textarea {
            width: 340px;
            height: 96px;
            border: 2px solid #FFFFFF;
            border-radius: 10px;
            resize: none;
            background-color: transparent;
            padding-bottom: 20px;

        }

        .infobutton {
            height: 56px;
            width: 147px;
            border-radius: 10px;
            background: #D5906E;
            border: #FFFFFF solid;
        }

        .forminfo1 {
            margin-right: 50px;
        }

        .loginfo {

            padding-bottom: 30px;
        }

        .iframe_sc {
            width: 100%;
            padding-top: 160px;
            padding-bottom: 160px;
        }

        h5 {
            font-family: Inter;
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 48px;
            color: #402101;
            text-align: center;

        }

        .bothmap {
            padding-top: 50px;
            display: flex;
            justify-content: space-between;
        }

        .mapinfo {
            width: 20%;
            display: flex;
            flex-direction: column;
            gap: 10px;

        }

        .map {
            width: 70%;
            background-color: #D5906E4D;
            margin: 0 auto;

        }

        .mapinfop {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 1.125rem;
            line-height: 22px;
            color: #B53B1B;
        }